<div class="d-flex align-items-center justify-content-center g-3">
    <button class="btn btn-success rounded-pill me-3" disabled="@(CurrentPage <= 1)" @onclick="@(() => NavigateTo("first"))">
        <i class="fa-solid fa-chevrons-left"></i>
    </button>
    <button class="btn btn-success rounded-pill me-3" disabled="@(CurrentPage <= 1)" @onclick="@(() => NavigateTo("prev"))">
        <i class="fa-solid fa-arrow-left"></i>
    </button>

    <span>Page @($"{CurrentPage} of {TotalPages}")</span>

    <button class="btn btn-success rounded-pill ms-3" disabled="@(CurrentPage >= TotalPages)" @onclick="@(() => NavigateTo("next"))">
        <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button class="btn btn-success rounded-pill ms-3" disabled="@(CurrentPage >= TotalPages)" @onclick="@(() => NavigateTo("last"))">
        <i class="fa-solid fa-chevrons-right"></i>
    </button>
</div>
